Babel==2.5.1
Jinja2==2.10
MarkupSafe==1.0
Pygments==2.2.0
Sphinx==1.6.6
alabaster==0.7.10
docutils==0.14
imagesize==0.7.1
pytz==2017.3
six==1.11.0
snowballstemmer==1.2.1
jandd.sphinxext.ip==0.2.4
jandd.sphinxext.mac==0.1.0
py-dateutil==2.2
validate-email==1.3
