alabaster==0.7.12
Babel==2.9.0
blockdiag==2.0.1
certifi==2020.12.5
chardet==4.0.0
dateutils==0.6.12
docutils==0.16
funcparserlib==0.3.6
gitdb==4.0.7
GitPython==3.1.14
idna==2.10
imagesize==1.2.0
ipcalc==1.99.0
jandd.sphinxext.ip==0.4.0
jandd.sphinxext.mac==0.1.0
Jinja2==2.11.3
MarkupSafe==1.1.1
nwdiag==2.0.0
packaging==20.9
Pillow==8.1.2
Pygments==2.8.1
pyparsing==2.4.7
python-dateutil==2.8.1
pytz==2021.1
requests==2.25.1
six==1.15.0
smmap==4.0.0
snowballstemmer==2.1.0
Sphinx==3.5.3
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-blockdiag==2.0.0
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==1.0.3
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-nwdiag==2.0.0
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.4
urllib3==1.26.4
validate-email==1.3
webcolors==1.11.1
