[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sphinx = "*"
gitpython = "*"
"jandd.sphinxext.ip" = "*"
"jandd.sphinxext.mac" = "*"
dateutils = "*"
validate-email = "*"

[dev-packages]

[requires]
python_version = "3.6"
