[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sphinx = "*"
GitPython = "*"
"jandd.sphinxext.ip" = "*"
"jandd.sphinxext.mac" = "*"
dateutils = "*"
validate-email = "*"
sphinxcontrib-blockdiag = "*"
sphinxcontrib-nwdiag = "*"
blockdiag = "<3"
nwdiag = "<3"

[dev-packages]
